@font-face {
    font-family: "Inter";
    url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

html {
    font-family: Inter;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    
}

.navbar {
    background-color: #7E2400;  
    font-weight: 700;
    font-size: 22px;
    color: #F8610A; 
    padding: 18px;
    text-align: center;   
}

.mainbody {
    background-image: linear-gradient(#A22E00, #742100);
    height: 100vh;
    display: grid;
    grid-column: 2;
}

.tophalf {
    color: #EB6A1F;
    /* background-color: blue; */
    font-weight: 800;
    font-size: 29px;
    text-align: right;
    padding: 10px;
    position: relative;
    top: 10px;
    right: 10px;
    position: relative;
   top: 100%;
   transform: translateY(-100%);
}

.bottomhalf {
    /* background-color: pink; */
    padding: 10px;
    text-align: left;
    align-items: baseline;
    font-size: 85px;
    font-weight: 800;
    color: #FF5E00;
    display: block;
    justify-items: end;
    
}
/* background-color: yellow; */
.nareshkarthigeyan {
    position:absolute;
    bottom: 5px;
}
.naresh {
    position: absolute;
    bottom: 75px;
}
@media (max-width: 470px) {
    .bottomhalf {
        font-size: 50px;
    }
    .naresh {
        bottom: 50px;
    }
}
.link2:hover {
    cursor: pointer;
    color: #ff5703;
}

.link , .link:visited{
    text-decoration: none;
    color: #EB6A1F;
}

.link:hover {
    cursor: pointer;
    color: #ffa1a1;
    font-style: italic;
    text-decoration: underline;
}